h3 {
    margin: 10px;
    display: block;
    border-style: ridge;
    border-width: 4px;
    border-color: gold;
    font-size: 30px;
    padding: 2px;
    color: brown;
    text-align: center;
    text-shadow: 0 0 3px tan, 0 0 5px gold;
}

img {
    padding: 2px;
    border-top: 10px ridge sandybrown;
    border-bottom: 10px ridge sandybrown;
    border-left: 10px ridge sienna;
    border-right: 10px ridge sienna;
    margin: 10px;
    width: 300px;
    ;
}

.card {
    display: block;
    border-style: ridge;
    border-color: goldenrod;
    width: 300px;
    border-width: 10px;
    margin: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 350px;
    font-family: arial;
    padding: 10px;
}

p.card-description {
    size: 300px;
    padding: 2px;
    font-style: italic;
    margin: 5px;
    font-stretch: ultra-condensed;
}

div {
    border-style: dashed;
    border-width: 3px;
    border-color: tan;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}

ul.card-list {
    padding: 02px;
    font-stretch: condensed;
    word-spacing: 2px;
}

p.card-details {
    padding: 5px;
    border-width: thin;
    margin: 5px;
}